:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--primary-white-color:#FFFFFF;
}

.html {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin-left: 15px;
    margin-right: 15px;
}

body{
    background-color:var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin: 0px;
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.logo {
    color: var(--accent-color);
    font-family: Raleway;   
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;     
}

.logo-header {
    color:#000000;        
}

.logo-footer {
    color: #FFFFFF;      
}

/* Site nav */
.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14; 
    text-decoration: none;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);   
}

/* Site contact*/
.site-contact-head .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
}
       
.site-contact-head .link:hover,
.site-contact-head .link:focus {
    color: var(--accent-color);
}

/* board */
.board-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 30px;
    
}

.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    }

.button-order {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    padding: 10px 32px;
}

.board {
    background-color: #2F303A;;
}

/* Section */
.section-title {
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* About */
.about-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

}

.about-list .text {
    font-size: 14px;
    line-height: 1.71;
}

/* Work */
.work-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

/* Team */
.team {
    background-color: #F5F4FA;;
}

.team-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-list .text {
    line-height: 1.18;
    letter-spacing: 0.03em;
}



/*Footter*/
 
.site-adress-footer .link {
    color: var(--primary-white-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.site-adress-footer .link:hover,
.site-adress-footer .link:focus {
    color: var(--accent-color);
}

.site-contact-footer .link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.site-contact-footer .link:hover,
.site-contact-footer .link:focus {
    color: var(--accent-color);
}

/* Portfolio */
.button-portfolio .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    
   
}

.button-portfolio .link:hover,
.button-portfolio .link:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.portfolio-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list .text {
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.footer {
    background-color: #2F303A;
}

.adress {
    font-style: normal;
}





/*колір основного текста 757575*/
/*колір текста заголовків #212121*/
/*колір текста logo web #2196F3*/
/*колір текста logo studio #000000*/
/*колір текста слоган #FFFFFF*/
/*колір текста button index #FFFFFF*/
/*колір текста button portfolio #212121*/
/*акцент #2196F3*/
/* колір фона board #2F303A */
/* колір фона team #F5F4FA*/